* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* custom scroll bar */
::-webkit-scrollbar {width: 0px !important;}
::-webkit-scrollbar-track {background: #242526;}
::-webkit-scrollbar-thumb {background: #3A3B3C;}
a {color: grey}
.loader {
  width: 120px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.loader span {
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
} 
.loader .ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 140, 255, 0.1);
  animation: wbounce .4s alternate infinite;
}
.loader .ball:nth-child(2) {
  animation-delay: .13s;
}
.loader .ball:nth-child(3) {
  animation-delay: .26s;
}
@keyframes wbounce {
  from {transform: scaleX(1.25)}
  to {transform: translateY(-30px) scaleX(1)}
}
@-webkit-keyframes wbounce {
  from {transform: scaleX(1.25)}
  to {transform: translateY(-30px) scaleX(1)}
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 150; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s;
    padding-right: 20px;
    /*box-shadow: 0 4px 8px 0 rgba(160, 159, 159, 0.2), 0 6px 20px 0 rgba(156, 156, 156, 0.19);*/
  }
   /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
   main {
    margin-left: 250px;
    background: #fff;
    margin-bottom: 40px;
  }
  .opennav {
    display: none;
    font-size: 25px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .sidenav {
        width: 0;
        padding-top: 60px;
    }
    main {
        transition: margin-left .5s;
        margin-left: 0;
        padding: 20px;
    }
    .opennav, .sidenav .closebtn {
        display: block;
    }
  }
  .sidenav.active {
    width: 250px;
  }
  main.active {
    margin-left: 0;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-right: 20px;
    color: gray;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .sidenav h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 8px 10px 8px 35px;
    font-size: 27px;
  }
  .sidenav a:hover, .sidenav a.active {
    background: rgba(0, 140, 255, 0.1);
    color: #000;
  }
  .sidenav ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
  }
  .sidenav ul li {
    padding: 0;
    margin: 0;
  }
  .sidenav ul li a {
    font-size: 13px;
    padding: 5px 5px 5px 32px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

header {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}
.alert-note {
  display: none;
}
.side-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.notification {
    font-size: 25px;
}
.admin-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
@media screen and (max-width:500px) {
    .admin-pro {display:none;}
}
@media screen and (min-width:700px) {
  #search {min-width: 300px;}
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\2304';
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2303";
}
/* dashboard */
.dash-menu {
  margin-top: 20px;
}
.dash-menu-con {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgba(8, 176, 243, 0.1);
}

.table {
  border: 1px solid rgba(8, 176, 243, 0.1);
  margin-top: 30px;
}
.table thead {
  background: rgba(0, 140, 255, 0.1);
}
.table tr {border:none}
.dash-table tr th:nth-child(1) {
  min-width: 270px !important;
}
.dash-table tr th:nth-child(2) {
  min-width: 150px !important;
}
.dash-table tr th:nth-child(3) {
  min-width: 150px !important;
}
.dash-table tr th:nth-child(3) {
  min-width: 200px !important;
}
.content-area {
  width: 100%;
  margin: 0 auto;
}

.box {
  background-color: #fff;
  padding: 25px 20px;

}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
}


.sparkboxes strong {
  position: relative;
  z-index: 3;
  color: #fff;
}


.sparkboxes .box1 {
  border-bottom: 3px solid #734CEA
}

.sparkboxes .box2 {
  border-bottom: 3px solid #34bfa3
}

.sparkboxes .box3 {
  border-bottom: 3px solid #f4516c;
}

.sparkboxes .box4 {
  border-bottom: 3px solid #00c5dc;
}

.spinner-border {
  display: none;
}
/* company profile */
.comp-form label {
  font-weight: 700;
  font-size: 16px;
}
.comp-form input, .comp-form textarea {
  padding: 20px !important;
  background: rgba(108, 185, 252, 0.05);
  font-size: 16px;
}
textarea {resize:none;}
.comp-btn {
  background: rgba(0, 140, 255, 0.1);;
  color: black;
  border: none;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px;
  width:80%;
  max-width: 500px;
  margin:auto;
}